.app {
    text-align: center;
}

.nav-link {
    text-align: center;
    padding: 10px;
    background-color: Blue;
}

.nav-link a {
    color: white ;
    text-decoration: none;
    padding: 10px 30px;
}

.nav-link a.active {
    color: black;
    font-weight: bold;
}